/* ----------------------GENERALES------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }

a {
  color: white;
  font-weight: bold;
  text-decoration: none; }

/*---------------------- KEYFRAMES-------------------------------------- */
@keyframes left-in {
  0% {
    left: -100%;
    opacity: 0; }
  50% {
    left: 100%;
    opacity: 1; }
  100% {
    left: 35%; } }

/* ---------------------HEADER-------------------------------------- */
header div.header__titulo {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.534);
  width: 100%;
  height: 500px;
  background-color: transparent;
  background-image: url("../fotos/paisesBajos.jpg");
  background-size: cover;
  background-position: center;
  font-size: 40px;
  color: #311a1a;
  font-style: italic; }

header nav.home__menu {
  background-color: #131313;
  padding-left: 700px; }
  header nav.home__menu li {
    display: inline-block;
    position: sticky;
    padding: 15px;
    list-style: none;
    background-color: #131313; }
    header nav.home__menu li .lista__navegacion {
      border: 2px solid black;
      display: inline-block;
      margin-bottom: 6px;
      width: auto;
      height: auto;
      padding-left: 2px;
      border-radius: 15%;
      font-size: 20px;
      background: radial-gradient(ellipse at top, #242424, #080808); }

/* -----------------------MAIN---------------------------------- */
main.home__mainContainer section.saludo {
  background-color: #131313;
  color: #adadad;
  padding: 10px;
  position: relative;
  font-size: 30px;
  font-weight: bolder; }

main.home__mainContainer section.destinosPopu {
  background: linear-gradient(to bottom, black, #2c2c2c);
  padding: 15px;
  padding-top: 10px;
  position: relative; }
  main.home__mainContainer section.destinosPopu article.subtitulo {
    position: relative;
    right: -830px;
    bottom: 15px;
    color: #adadad;
    font-weight: bolder;
    font-size: 20px; }
  main.home__mainContainer section.destinosPopu .ranking {
    background-color: beige;
    width: 175px;
    height: 250px;
    padding-left: 10px;
    padding-top: 200px;
    border: 2px solid black;
    margin-bottom: 10px;
    display: inline-block;
    position: relative;
    right: -660px;
    border-radius: 10%;
    font-size: 25px;
    font-weight: bolder;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.534);
    animation: left-in;
    animation-duration: 3s; }
  main.home__mainContainer section.destinosPopu #disney, main.home__mainContainer section.destinosPopu #londres, main.home__mainContainer section.destinosPopu #paris {
    background-image: url("../fotos/disney.jpg");
    background-size: cover;
    background-position: center;
    color: #bac4cc;
    transition: all 1s; }
    main.home__mainContainer section.destinosPopu #disney:hover, main.home__mainContainer section.destinosPopu #londres:hover, main.home__mainContainer section.destinosPopu #paris:hover {
      transform: scale(1.2);
      z-index: 10; }
  main.home__mainContainer section.destinosPopu #londres {
    background-image: url("../fotos/Londres.jpg"); }
  main.home__mainContainer section.destinosPopu #paris {
    background-image: url("../fotos/paris.jpg"); }

/* -------------------------FOOTER------------------------------------ */
footer {
  background-color: #131313; }
  footer .footer__links {
    padding: 25px;
    display: inline-block;
    color: #6d6d6d;
    font-weight: bold;
    text-decoration: none; }
  footer #arriba {
    width: auto;
    height: 10px;
    margin-bottom: 0; }
  footer #contacto {
    width: auto;
    height: 10px;
    margin-bottom: 0;
    font-weight: bolder; }
