/* ----------------------GENERALES------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/*---------------------- KEYFRAMES-------------------------------------- */
@keyframes left-in{
    0%{
        left: -100%;
        opacity: 0;
    }

    50%{
        left: 100%;
        opacity: 1;
    }

    100%{
        left: 35%;
    }
}