/* ---------------------HEADER-------------------------------------- */
header {
    div.header__titulo{
    box-shadow: map-get($estilos, box-shadow);
    width: 100%;
    height: 500px;
    background-color: transparent;
    background-image: url('../fotos/paisesBajos.jpg');
    @include centrarImgFondo;
    font-size: 40px;
    color: rgb(49, 26, 26);
    font-style: italic;
    }
    nav.home__menu{
        background-color: $principal;
        padding-left: 700px;
        li{
            display: inline-block;
            position: sticky;
            padding: 15px;
            list-style: none;
            background-color: $principal;
            .lista__navegacion{
                border: 2px solid black;
                display: inline-block;
                margin-bottom: 6px;
                width: auto;
                height: auto;
                padding-left: 2px;
                border-radius: 15%;
                font-size: 20px;
                background: radial-gradient(ellipse at top, rgb(36, 36, 36), rgb(8, 8, 8));
            }
        }
    }
}
