/* -----------------------MAIN---------------------------------- */
main.home__mainContainer {
    section.saludo{
        background-color: $principal;
        color: $colorTexto;
        padding: 10px;
        position: relative;
        font-size: 30px;
        font-weight: map-get($estilos, font-weight);
    }
    section.destinosPopu{
    background: linear-gradient(to  bottom, black, rgb(44, 44, 44));
    padding: 15px;
    padding-top: 10px;
    position: relative;

        article.subtitulo{
            position: relative;
            right: -830px;
            bottom: 15px;
            color: $colorTexto;
            font-weight: map-get($estilos, font-weight);
            font-size: 20px;
        }
        .ranking{
            background-color: beige;
            width: 175px;
            height: 250px;
            padding-left: 10px;
            padding-top: 200px;
            border: 2px solid black;
            margin-bottom: 10px;
            display: inline-block;
            position: relative;
            right: -660px;
            border-radius: 10%;
            font-size: 25px;
            font-weight: map-get($estilos, font-weight);
            box-shadow: map-get($estilos, box-shadow);
            animation: left-in;
            animation-duration: 3s;
        }
        #disney{
            background-image: url('../fotos/disney.jpg');
            @include centrarImgFondo;
            color: $colorTexto_img;
            transition: all 1s;
            &:hover{
                transform: scale(1.2);
                z-index: 10;
            }
        }
        #londres{
            @extend #disney ;
            background-image: url('../fotos/Londres.jpg');
        }
        #paris{
            @extend #disney ;
            background-image: url('../fotos/paris.jpg');
        }
    }
}