$principal: rgb(19, 19, 19);
$colorTexto: rgb(173, 173, 173);
$colorTexto_img: rgb(186, 196, 204);

@mixin centrarImgFondo {
    background-size: cover;
    background-position: center;
}
$estilos:(
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.534),
    font-weight: bolder,   
);

@import "general";
@import "header";
@import "main";
@import "footer";